*{
	-moz-box-sizing: border-box;
  	box-sizing: border-box;
	padding:0;
	border:0;
}

html, body{
	background:#ffffff; #branco
	color:#000; #preto
}

.main{
	background: lightskyblue;
	display:flex;
	flex-direction:column;
	margin:10px;
}